:local .root{
    position: relative;
    width: 100%;
}

:local .logo{
    width: 100%;
    text-align: center;
}

:local .logo img{
    width: 450px;
    max-width: 100%;
}

:local .tools{
    width: 100%;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}

:local .tools input{
    margin-top: 16px;
    margin-bottom: 16px;
    width: 60%;
    font-size: 16px;
    height: 40px;
    padding-left: 8px;
}
:local .tools button{
    padding-left: 8px;
    padding-right: 8px;
    height: 46px;
    border: none;
    outline: none;
    background-color: #3388ff;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

:local .tools button:hover{
    background-color: #317ef3;
}
:local .tools button:active{
    background-color: #2A79ED;
}


:local .cursor{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 22px;
    height: 22px;
    display: none;
}

:local .tips{
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #333;
}